@import '~@blueprintjs/core/lib/scss/variables';

.root {
  position: relative;
  text-align: center;
  :global(.bp3-heading) {
    text-align: center;
  }
}
.btn {
  width: 300px;
  margin: 20px auto 0;
  border-radius: 0;
  :global(.bp3-button-text) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $pt-app-background-color;
  :global(.bp3-dark) & {
    background-color: $pt-dark-app-background-color;
  }
}