.root {
  font-family: JetBrainsMono, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
  padding: 20px;
  border-radius: 0;
  user-select: none;
  span {
    margin: 0 10px;
  }
}