@import 'src/colors';
.root {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: JetBrainsMono, monospace;
}
.wrap {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  text-align: center;
  border-radius: 11px;
  h1 {
    margin: 0 auto;
  }
}
.logo {
  width: 100px;
  height: 100px;
  display: block;
  margin: 15px auto 20px;
  fill: $appOrange;
}
.author {
  margin-top: 10px;
  font-size: 12px;
}