.root {
  padding: 20px;
  position: relative;
}
.title {
  font-family: JetBrainsMono, monospace;
  font-size: 12px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  :global(.bp3-input-group) {
    &:first-child {
      width: 49%;
    }
    width: 49%;
  }
}
.actions {
  text-align: right;
}
.spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ebf1f5;
  display: flex;
  justify-content: center;
  align-items: center;
  :global(.bp3-dark) & {
    background-color: #293742;
  }
  z-index: 1;
}