.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px 0;
}
.name {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    cursor: default;
  }
}
.warning {
  margin-right: 5px;
}
.input {
  width: calc(70% - 17px - 15px);
  margin-left: 15px;
  :global{
    .bp3-popover-target {
      width: 100%;
    }
  }
}
.desc {
  padding-right: 17px;
  text-align: right;
  font-size: 11px;
  opacity: .6;
  margin-top: 2px;
}