.buildSettings {
  :global(.bp3-collapse-body) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    input {
      max-width: 150px;
      padding-left: 40px;
    }
  }
}
.tag {
  cursor: pointer;
}