.divider {
  margin: 10px 0;
}
.disabled {
  opacity: .5;
}
.params {
  min-height: 120px;
  max-height: 120px;
  overflow: auto;
  margin: 10px 0;
  padding: 0 10px;
}
.addParam {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.paramsTitle {
  margin-bottom: 10px;
}
.buildClassName {
  font-size: 12px;
}
.close {
  margin-left: 10px;
}