@import '~@blueprintjs/core/lib/scss/variables';

.root {
  position: relative;
  padding: 20px;
  :global(.bp3-input-group) {
    margin-top: 10px;
  }
}
.hideTabs {
  :global {
    .bp3-tab-list {
      display: none;
    }
    .bp3-tab-panel {
      margin-top: 0;
    }
  }
}
.title {
  font-family: JetBrainsMono, monospace;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 20px;
  cursor: default;
  opacity: .6;
  border: none;
  border-radius: unset;
  span {
    margin-left: 10px;
  }
}
.active {
  cursor: pointer;
  opacity: 1;
}
.body {
  :global(.bp3-collapse-body) {
    padding: 20px;
  }
}
.loaderWrap {
  height: 110px;
}
.loader {
  height: 110px;
  background-color: $pt-app-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  :global(.bp3-dark) & {
    background-color: $pt-dark-app-background-color;
  }
}