@import '~@blueprintjs/core/lib/scss/variables';

@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  width: 100%;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 30px 6px 20px;
  cursor: pointer;
  user-select: none;
  text-align: left;
  border-radius: 0;
  background-color: $light-gray5 !important;
  font-size: 14px;
  font-weight: 600;

  -webkit-font-smoothing: antialiased;
  :global(.bp3-dark) & {
    background-color: $dark-gray3 !important;
  }
  button {
    animation: fadeIn 333ms linear forwards .5s;
    opacity: 0;
    svg {
      width: 13px;

      fill: rgb(92, 112, 128) !important;
    }
  }
}
.notificationIcon {
  position: absolute;
  top: 7px;
  left: 1px;
  margin-left: 2px;
  animation: blink 5s infinite;
  opacity: 0;
}
.collapseIcon {
  position: absolute;
  right: 10px;
}
.actions {
  display: flex;
  align-items: center;
}