.root {
  :global {
    .bp3-icon.bp3-icon-double-caret-vertical {
      display: none;
    }
    .bp3-button-text {
      margin-right: 0;
    }
  }
}
.menu {
  :global(.bp3-popover-content):after {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    padding: 6px 0;
    content: 'DEL ⌥-click';
    cursor: default;
    transition: 333ms ease-in-out;
    text-align: center;
    pointer-events: none;
    color: #182026 !important;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #f5f8fa;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, .1), 0 2px 4px rgba(16, 22, 26, .2), 0 8px 24px rgba(16, 22, 26, .2);
    font-family: JetBrainsMono, monospace;
    font-size: 12px;
    :global(.bp3-dark) & {
      color: #f5f8fa !important;
      background-color: #293742;
    }
  }
  &.helpHidden {
    :global(.bp3-popover-content):after {
      transform: translate3d(0, -110%, 0);
    }
  }
}