.root {
  :global(.bp3-input-group) {
    margin-top: 0 !important;
  }
}
.title {
  user-select: none;
  font-family: JetBrainsMono, monospace;
}
.divider {
  margin: 10px 0;
}
.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.mr {
  margin-right: 10px;
}