.list {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.item {
  display: grid;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  grid-template-columns: 200px 100px auto;
}
.params {
  cursor: pointer;
}
