@import '~@blueprintjs/core/lib/scss/variables';

.root {
  display: flex;
  justify-content: space-around;
  margin: 2px 0;
  padding: 0;
  border-radius: 0;
}
.block {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
  text-align: left;
  &:first-child {
    padding-left: 20px;
  }
  &:last-child {
    align-items: flex-end;
  }
}
.jenkinsErrorName {
  min-width: 530px;
}
.blockStatus {
  @extend .block;
  min-width: 395px;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  span {
    display: block;
  }
}
.date {
  max-width: 60px;
  color: $blue4;
  font-size: 13px;
}
.buildName {
  min-width: 200px;
  max-width: 310px;
  min-height: 18px;
  overflow: hidden;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.blockActions {
  @extend .block;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.hidden {
  opacity: 0;
}
.ml {
  margin-left: 10px;
}
.button {
  width: 50px !important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  padding: 10px;
}