.title {
  margin-bottom: 20px;
}
.noMargin {
  margin-top: 0 !important;
}
.row {
  display: flex;
  justify-content: space-between;
  :global(.bp3-input-group) {
    &:first-child {
      width: 49%;
    }
    width: 49%;
  }
}
.actions {
  text-align: right;
  margin-top: 10px;
}