.translated {
  max-width: 350px;
  max-height: 200px;
  overflow: auto;
  padding: 5px 10px;
  white-space: pre-line;
  color: #fff;
  border-radius: 4px;
  background-color: #000;
  font-family: JetBrainsMono, monospace;
  font-size: 13px;
}