@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }
  to {
    opacity: .8;
    transform: translateX(0);
  }
}

.root {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px 15px;
  z-index: 10;
  box-shadow: 0 -1px 1px rgba(16, 22, 26, 0.4),
              0 0 0 rgba(16, 22, 26, 0),
              0 0 0 1px rgba(16, 22, 26, 0.2);
  opacity: 1;
  transform: translateY(0);
  transition: all 333ms ease-in-out;
  background-color: #fff;
  :global(.bp3-dark) & {
    background-color: #394b59;
  }
  &:hover {
    .showHideIcon {
      opacity: 1;
    }
  }
}
.hidden {
  transform: translateY(100%);
}
.content {
  transition: all 333ms ease-in-out;
}
.contentHidden {
  opacity: 0;
}
.offline {
  background-color: #ff6e4a;
  :global(.bp3-dark) & {
    background-color: #db3737;
  }
}
.group {
  height: 22px;
  color: #5c7080;
  cursor: default;
  :global(.bp3-dark) & {
    color: #a7b6c2;
  }
}
.feedback {
  cursor: pointer;
  color: #5c7080;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #182026;
  }
  :global(.bp3-dark) & {
    color: #a7b6c2;
    &:hover {
      color: #f5f8fa;
    }
  }
  span {
    margin-left: 8px;
  }
}
.appOffline {
  animation: FadeIn 333ms forwards;
  border: none;
  border-radius: 0;
  margin-right: 10px;
  cursor: default;
}
.appUpdated {
  animation: FadeIn 333ms forwards;
  margin-right: 10px;
}
.spinner {
  margin-right: 10px;
}
.folder {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  transform-origin: left center;
  animation: FadeIn 333ms forwards;
  > * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
.folderIcon {
  margin-right: 6px;
}
.btn {
  & + & {
    margin-left: 5px;
  }
}
.showHideIcon {
  position: absolute;
  bottom: 100%;
  left: 10px;
  opacity: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: opacity 333ms ease-in-out;
  &:hover {
    opacity: 1;
  }
}