.root {
  position: relative;
}
.tagLink {
  margin: 5px;
  cursor: pointer;
  :global(.bp3-icon) {
    margin-right: 5px;
  }
}
.line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.divider {
  margin: 10px 0;
}
.params {
  max-height: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}
.actions {
  position: relative;
}
.updateBtn {
  position: absolute;
  left: 0;
  margin: 0 !important;
}
.spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ebf1f5;
  display: flex;
  justify-content: center;
  align-items: center;
  :global(.bp3-dark) & {
    background-color: #293742;
  }
  z-index: 1;
}