.root {
  display: flex;
  justify-content: space-around;
  margin: 2px 0;
  padding: 0;
  border-radius: 0;
  align-items: center;
  position: relative;
}
.block {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px;
  text-align: left;
  &:first-child {
    padding-left: 20px;
  }
  &:last-child {
    justify-content: flex-end;
  }
}
.status {
  cursor: default;
  min-width: 60px;
}
.blockStatus {
  @extend .block;
  min-width: 395px;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  span {
    display: block;
  }
}
.date {
  margin-left: 10px;
  opacity: .8;
  white-space: nowrap;
}
.text {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.progress {
  width: 100%;
  height: 3px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  border-radius: 0 0 3px 3px;
  :global(.bp3-progress-meter) {
    border-radius: 0 0 3px 3px;
  }
}